---
page_title: 404
---
{% layout 'theme' %}

<div class='d-flex flex-column align-items-center justify-content-center gap-2 h-100 py-3 px-5 w-100 text-center'>
  <img alt='404' width='512' height='512' src='{{ home.url }}/assets/images/png/not-found.png'>
  <div>
    <h1 class='text-4xl fw-bold'>{{ '404: Page Not Found' | t }}</h1>
    <p class='text-lg'>{{ 'I am so sorry... I have looked everywhere but can not find what you need' | t }}</p>
  </div>
</div>
