.elg-swiper__our-team {
  &-button-next,
  &-button-prev {
    width: inherit;
    color: #000;

    &::after,
    ::before {
      display: none;
    }
  }

  &-button-next {
    rotate: -90deg;
  }
  &-button-prev {
    rotate: 90deg;
  }

  &-pagination {
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      transition: all ease 0.3s;
    }

    .swiper-pagination-bullet-active {
      width: 28px;
      border-radius: 15px;
      background: #ee4e9e;
    }
  }

  &-card {
    cursor: pointer;
    min-height: 350px;
    border-color: hsl(214.3deg 55.26% 92.61%);
    background-color: hsl(214.3deg 100% 98.71%);
    transition: all 0.3s;

    &:hover {
      background-color: #ffeef6;
      border-color: #fbe4ef;
    }
  }

  .social-link {
    background-color: white;
  }
}
