// ==============================
// Utilities
// ==============================
@use './variables';

@for $i from 100 through 1000 {
  @if $i % 100 == 0 {
    .text-elg-neutral-#{$i} {
      color: var(--elg-neutral-#{$i});
    }
  }
}

$font-sizes: (
  xs: (
    0.75rem,
    calc(1 / 0.75),
  ),
  sm: (
    0.875rem,
    calc(1.25 / 0.875),
  ),
  base: (
    1rem,
    calc(1.5 / 1),
  ),
  lg: (
    1.125rem,
    calc(1.75 / 1.125),
  ),
  xl: (
    1.25rem,
    calc(1.75 / 1.25),
  ),
  2xl: (
    1.5rem,
    calc(2 / 1.5),
  ),
  3xl: (
    1.875rem,
    calc(2.25 / 1.875),
  ),
  4xl: (
    2.25rem,
    calc(2.5 / 2.25),
  ),
  5xl: (
    3rem,
    1,
  ),
  6xl: (
    3.75rem,
    1,
  ),
  7xl: (
    4.5rem,
    1,
  ),
  8xl: (
    6rem,
    1,
  ),
  9xl: (
    8rem,
    1,
  ),
);

@each $name, $values in $font-sizes {
  .text-#{$name} {
    font-size: nth($values, 1);
    line-height: nth($values, 2);
  }
}

$rotate-values: (-180, -135, -90, -45, 0, 45, 90, 135, 180);

@each $deg in $rotate-values {
  .rotate-#{$deg} {
    transform: rotate(#{$deg}deg);
  }
}

$flip-directions: (
  'x': scaleX(-1),
  'y': scaleY(-1),
  'both': scale(-1, -1),
  'none': scale(1, 1),
);

@each $name, $transform in $flip-directions {
  .flip-#{$name} {
    transform: $transform;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.h-max-content {
  height: max-content !important;
}

.text-primary {
  color: variables.$primary-color !important;
}

.text-elg-purple {
  color: var(--elg-purple);
}

.text-elg-red {
  color: var(--elg-red);
}

.text-elg-strawberry-500 {
  color: hsl(var(--elg-strawberry-500));
}

.text-elg-strawberry-600 {
  color: var(--elg-strawberry-600);
}

.text-elg-success-400 {
  color: var(--elg-success-400);
}

.text-elg-success-500 {
  color: var(--elg-success-500);
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.bg-elg-strawberry-500 {
  background-color: hsl(var(--elg-strawberry-500));
}