// ==============================
// Base .btn
// ==============================

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  font-size: 0.875rem;
  font-weight: 500;

  height: 2.5rem;
  line-height: 1;
  padding: 0 0.75rem;

  border: 1px solid var(--input);
  background-color: var(--background);
  color: inherit;
  cursor: pointer;

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  &:focus-visible {
    outline: none;
    border-color: hsl(var(--input));
    box-shadow:
      0 0 0 2px var(--ring),
      0 0 0 4px var(--ring-offset-background);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

// ==============================
// Modifier: .btn-circle
// ==============================

.btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 9999px;
  border-color: hsl(var(--input));
  border-style: solid;
  border-width: 1px;

  &:hover {
    background-color: hsl(var(--accent));
    border-color: hsl(var(--input));
  }
}

.btn-w-auto {
  width: auto;
  gap: 12px;
  padding: 0 10px;
}

.btn-blue {
  background-color: #271d7a;
  color: white;

  &:hover {
    background-color: #2a1f85;
    color: white;
  }
}

// Type 2

.button-in-banner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--elg-neutral-900);
  background-color: hsl(var(--elg-strawberry-500));
  padding: 0.5rem 1rem;
  width: 214px;
  height: 3rem;
  border-radius: 9999px;
  margin-bottom: 2rem;
  transition: background-color 0.2s ease;
  outline: none;

  &:focus-visible {
    box-shadow:
      0 0 0 2px var(--ring-ring),
      0 0 0 4px var(--ring-offset-background);
  }

  &:hover {
    background-color: var(--elg-strawberry-600);
    color: var(--elg-neutral-900);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    width: 160px;
    margin-bottom: 1rem;
  }
}
