.elg-footer {
  background-color: var(--elg-dark);
  padding: 2.5rem 0;

  &__main {
    font-style: normal;
    letter-spacing: -0.015em;
    color: var(--elg-neutral-900);
    padding-bottom: 32px;
    font-weight: 400;

    @media (min-width: 640px) {
      place-items: center;
    }
  }

  &__copyright {
    padding: 24px 0 0 0;
    border-top: 1px solid var(--elg-neutral-100);
    color: var(--elg-neutral-900);
  }
}

.elg-btn__back-to-top {
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  background-color: white;
  cursor: pointer;
  bottom: 30px;
  color: hsl(var(--elg-strawberry-500))
}

.elg__bottom-banner {
  background: linear-gradient(180deg, #fdd2f3 0%, #fef4f9 100%);
  border-radius: 24px;
  padding: 2rem;
  color: #1c1c3c;
}
